@model NewPDR.Web.ViewModel.ChartViewModel
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="mainMargin"><h2 style="font-size:28px;" class="page-header"> @Model.UserName's PDR Charts </h2></div>


    <div id="objPanel" class="panel-group" style="margin :15px 0 15px 0">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a style="color:#282D32; font-weight:500 " data-toggle="collapse" href="#infoCollapsePanelSFIndex"> <i class="fa fa-desktop  fa-lg"></i> @Model.UserName's PDR Performance Chart </a>
                </h2>
            </div>
            <div id="infoCollapsePanelSFIndex" data-collapsed-index="infoCollapsePanelSFIndex" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div style="padding:20px; border:1px #e8e8e8 solid; background-color:#ebebed; box-shadow: 0 -1px 20px -4px rgba(0,0,0,.75) ; color:#282D32; font-weight:400 !important;">
                        <div class="row" style="padding-bottom:20px">
                            <div class="col-md-6">
                                @Html.Partial("_MidYearChartPartial", Model.MidYearChartViewModels)
                            </div>
                            <div class="col-md-6">
                                @Html.Partial("_FullYearChartPartial", Model.FullYearChartViewModels)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="row" style="padding-bottom:20px">
        <div class="col-md-6">
            @Html.Partial("_MidYearChartPartial", Model.MidYearChartViewModels)
        </div>
        <div class="col-md-6">
            @Html.Partial("_FullYearChartPartial", Model.FullYearChartViewModels)
        </div>
    </div>*@

</body>
</html>
